PORT=5000
MONGO_URI=mongodb://localhost:27017/1fi-marketplace
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000,https://onefi-marketplace-euon.onrender.com,https://1-fi-marketplace-livid.vercel.app
